.mat-mdc-nav-list a.mat-mdc-list-item {
    margin-bottom: 8px;
    /* Espaciado entre los elementos del menú */
}

/* Estilo para el footer */
.footer {
    width: 100%;
    /* Fijo al pie de la pantalla */
    bottom: 0;
    padding: 20px;
    background-color: #449d44;
    /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Evita el scroll horizontal */
    box-sizing: border-box;
    /* z-index: 1000; */
    /* Asegura que esté al frente en la parte inferior */
}

/* Contenedor del carrusel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    /* Limita el ancho máximo del carrusel */
    height: 150px;
    /* Ajusta la altura de acuerdo a tus imágenes */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    /* Ancho máximo del carrusel */
    height: 150px;
    /* Altura fija del carrusel */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para cada imagen en el carrusel */
.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}


.carousel-image.active {
    opacity: 1;
    /* La imagen activa es visible */
}

/* Imagen dentro del carrusel */
.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Recorta la imagen para llenar el contenedor */
    object-position: center;
    /* Centra la imagen */
    border-radius: 8px;
    /* Esquinas redondeadas, opcional */
}

h1.title {
    font-family: 'Gutcruncher', sans-serif;
    font-size: 2rem;
}